@model IEnumerable<BookWeb.Entities.Genre>
@{
    ViewData["Title"] = "Genre";
}
    <div class="page-wrapper">
        <!-- HEADER MOBILE-->
        <header class="header-mobile d-block d-lg-none">
            <div class="header-mobile__bar">
                <div class="container-fluid">
                    <div class="header-mobile-inner">
                        <a class="logo" href="index.html">
                            <img src="images/icon/logo.png" alt="CoolAdmin" />
                        </a>
                        <button class="hamburger hamburger--slider" type="button">
                            <span class="hamburger-box">
                                <span class="hamburger-inner"></span>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
        </header>
        <!-- END HEADER MOBILE-->
        <!-- MENU SIDEBAR-->
        <aside class="menu-sidebar d-none d-lg-block">
            <div class="logo">
                <a href="#">
                    <img src="images/icon/logo.png" alt="Cool Admin" />
                </a>
            </div>
            <div class="menu-sidebar__content js-scrollbar1">
                <nav class="navbar-sidebar">
                    <ul class="list-unstyled navbar__list">
                        <li class="active has-sub">
                            <a asp-controller="Home" asp-action="Index" class="sidebar-link waves-effect waves-dark sidebar-link" aria-expanded="false">
                                <i class="fas fa-tachometer-alt"></i>Dashboard
                            </a>
                        </li>
                        <li>
                            <a asp-controller="Author" asp-action="Index" class="sidebar-link waves-effect waves-dark sidebar-link" aria-expanded="false">
                                <i class="fas fa-chart-bar"></i>Author
                            </a>
                        </li>
                        <li>
                            <a asp-controller="Book" asp-action="Index" class="sidebar-link waves-effect waves-dark sidebar-link" aria-expanded="false">
                                <i class="fas fa-table"></i>Book
                            </a>
                        </li>
                        <li>
                            <a asp-controller="Genre" asp-action="Index" class="sidebar-link waves-effect waves-dark sidebar-link" aria-expanded="false">
                                <i class="far fa-check-square"></i>Genre
                            </a>
                        </li>
                        <li>
                            <a asp-controller="Category" asp-action="Index" class="sidebar-link waves-effect waves-dark sidebar-link" aria-expanded="false">
                                <i class="fas fa-calendar-alt"></i>Category
                            </a>
                        </li>
                        <li>
                            <a asp-controller="Readers" asp-action="Index" class="sidebar-link waves-effect waves-dark sidebar-link" aria-expanded="false">
                                <i class="fas fa-map-marker-alt"></i>Readers
                            </a>
                        </li>
                        <li>
                            <a asp-controller="Role" asp-action="Index" class="sidebar-link waves-effect waves-dark sidebar-link" aria-expanded="false">
                                <i class="fas fa-calendar-alt"></i>Role
                            </a>
                        </li>
                        <li>
                            <a asp-controller="User" asp-action="Index" class="sidebar-link waves-effect waves-dark sidebar-link" aria-expanded="false">
                                <i class="fas fa-map-marker-alt"></i>User
                            </a>
                        </li>
                        <li>
                            <a asp-controller="Account" asp-action="signup" class="sidebar-link waves-effect waves-dark sidebar-link" aria-expanded="false">
                                <i class="fas fa-map-marker-alt"></i>SignUp
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </aside>
        <!-- END MENU SIDEBAR-->
        <div class="page-container">
            <!-- Basic Tables start -->
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Genre</h4>
                            <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
                            <div class="heading-elements">
                                <ul class="list-inline mb-0">
                                    <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                                    <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                                    <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                                    <li><a data-action="close"><i class="ft-x"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="card-content collapse show">
                            <div class="card-body">
                                <div class="col-md-12 col-12 align-self-center">

                                    <a asp-controller="Genre" asp-action="Create" class="btn float-right hidden-sm-down btn-success"><i class="mdi mdi-plus-circle"></i>New Genre</a>
                                </div>
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Name</th>
                                                <th>CreatedBy</th>
                                                <th>DateCreated</th>

                                                <th></th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var g in Model)
                                            {
                                                <tr>
                                                    <td scope="row">@g.Id</td>
                                                    <td>@g.Name</td>
                                                    <td>@g.CreatedBy</td>
                                                    <td>@g.DateCreated</td>
                                                    <td><a class="zmdi zmdi-edit" asp-action="Edit" asp-route-id="@g.Id" aria-hidden="false"></a></td>
                                                    <td><a class="zmdi zmdi-delete" asp-action="Delete" asp-route-id="@g.Id" aria-hidden="false"></a></td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>