@model IEnumerable<BookWeb.Entities.Readers>
@{
    ViewData["Title"] = "Readers";
}
<!-- ============================================================== -->
<div class="row page-titles">
    <div class="col-md-5 align-self-center">
        <h3 class="text-themecolor">Readers</h3>
    </div>
  <!--<div class="col-md-7 align-self-center">
       <a href="https://wrappixel.com/templates/adminpro/" class="btn waves-effect waves-light btn-danger pull-right hidden-sm-down"> Upgrade to Pro</a>
    </div>-->
</div>

<div class="row">
    <!-- column -->
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">List</h4>
                <!-- <h6 class="card-subtitle">Add New Readers</h6>-->
                <div class="col-md-12 col-12 align-self-center">
                    <a asp-controller="Readers" asp-action="Create" class="btn float-right hidden-sm-down btn-success"><i class="mdi mdi-plus-circle"></i>New Readers</a>
                </div>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Name</th>
                                <th>Age</th>
                                <th>Email</th>
                                <th>Created By</th>
                                <th>Date Created</th>
                                <th> </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var readers in Model)
                            {
                            <tr>
                                <td>@readers.Id</td>
                                <td>@readers.Name </td>
                                <td>@readers.Age  </td>
                                <td>@readers.Email  </td>
                                <td>@readers.CreatedBy  </td>
                                <td>@readers.DateCreated    </td>
                                <td><a asp-action="Edit" asp-route-id="@readers.Id" alt="Edit"><i class="fa fa-pencil m-r-10" aria-hidden="true"></i></a> </td>
                                <td><a asp-action="Delete" asp-route-id="@readers.Id"><i class="fa fa-trash-o m-r-10" aria-hidden="true"></i></a> </td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>